*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    width: 370px;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 50px;
    row-gap: 20px;
    border-radius: 20px;
    box-shadow: 20px -20px 30px #B2BBF2, -20px 20px 30px #EA9EC0;
}
.modal .title{
    font-size: 36px;
    font-weight: bold;
}
.modal input{
    height: 35px;
    padding-left:10px ;
    border: 2px solid;
    font-size: 16px;
}
.modal input::placeholder{
    font-weight: bold;
    color: black;
}
.modal .ops{
    display: flex;
    justify-content: space-between;
}
.modal button{
    padding: 5px 15px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 25px;
    width: 45px;
    height: 45px;
    transition: all;
}
button:hover{
    background-color: gray;
    border: none;
}
.op3{
    padding-top: 10px !important;
}
.errorMsg{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    justify-content: center;
    text-align: center;
}
.errorMsg .error{
    font-size: 25px;
    font-weight: bold;
}
.errorMsg .msg{
    font-size: 25px;
    font-weight: bold;
}